opencv-python
scipy==1.10.1
torchvision
torch==2.7.1
toml
voluptuous
datasets==2.21.0
accelerate==1.7.0
deepspeed==0.17.2
decorator==4.4.2
pybind11==2.13.6
ninja
wheel
numpy
six
regex
attrs
psutil
pyyaml
protobuf
einops
sentencepiece
pytest
gpytorch
pandas
transformers==4.46.3
pyarrow==20.0.0
peft==0.7.1