accelerate==1.10.1
attrs==23.1.0
decorator==5.2.1
deepspeed==0.18.0
Jinja2
ninja
scipy==1.15.3
torch==2.7.1
torchvision==0.22.1
transformers==4.57.1
imageio
imageio[ffmpeg]
safetensors
einops
sentencepiece
protobuf
modelscope
ftfy
pynvml
pandas
peft==0.17.1