# formatting
yapf==0.32.0
toml==0.10.2
tomli==2.0.2
ruff==0.6.5
codespell==2.3.0
isort==5.13.2
sphinx-lint==1.0.0
torch==2.7.1

ml-collections==1.1.0
absl-py==2.3.1
inflect==6.0.4
pydantic==2.9.2
protobuf==5.29.5
packaging==25.0
ninja==1.11.1.4
trl==0.19.1

accelerate==1.9.0
bitsandbytes==0.46.1
transformers==4.54.0
tokenizers==0.21.2
albumentations==1.4.20
av==13.1.0
einops==0.8.0
gdown==5.2.0
h5py==3.12.1
idna==3.7
imageio==2.36.0
matplotlib==3.9.2
numpy==1.26.3
omegaconf==2.3.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
pandas==2.2.3
pillow==10.3.0
pydub==0.25.1
pytorch-lightning==2.4.0
pytorchvideo==0.1.5
PyYAML==6.0.1
regex==2024.9.11
requests==2.33.0
scikit-learn==1.5.2
scipy==1.13.0
six==1.16.0
test-tube==0.7.5
timm==1.0.11
torchdiffeq==0.2.4
torchmetrics==1.5.1
tqdm==4.66.5
urllib3==2.6.3
uvicorn==0.32.0
scikit-video==1.1.11
imageio-ffmpeg==0.5.1
sentencepiece==0.2.1
beautifulsoup4==4.12.3
ftfy==6.3.0
moviepy==1.0.3
wandb==0.18.5
pydantic==2.9.2
watch==0.2.7
gpustat==1.1.1
peft==0.13.2
einops==0.8.0
wheel==0.44.0
loguru==0.7.3
diffusers==0.32.0


# type checking
mypy==1.11.1
types-PyYAML
types-requests
types-setuptools
